@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

[class^="icon-"] {
  display: inline-block;
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

.container { height: 100%; }

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main > section {
	position: absolute;
	width: 50%;
	height: 100%;
}

.main > section:first-child {
	top: 0;
	left: 0;
	background: #47a3da;
}

.main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #FFF;
}

.main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #72CCA7;
}

.main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #10A296;
}

.box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.main > section:nth-child(2) .box h2 {
	color: #999
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.icon-about:before {
	content: "\e000";
}

.icon-works:before {
	content: "\e001";
}

.icon-blog:before {
	content: "\e002";
}

.icon-contact:before {
	content: "\e003";
}

.main > section .icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.icon-close:before {
	content: "\e005";
}

.content, 
div.panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

.intro-content {
position: absolute;
top: 25%;
left: 0%;
padding: 0 1em;
cursor: pointer;

}
.intro-content h2 > span {
	display: block;
	white-space: nowrap;
}

.intro-content h2 > span:first-child {
	font-weight: 300;
	font-size: 2em;
}

.intro-content h2 > span:nth-child(2) {
	position: relative;
	margin-top: 0.5em;
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
}

.intro-content h2 > span:nth-child(2):before {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #fff;
	content: '';
}

.profile {
margin: 0 auto;
width: 140px;
height: 140px;
}

.profile img {
max-width: 100%;
border-radius: 50%;
opacity: 0.6;
}

/* Custom content */

.content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.main > section:nth-child(2) .content h2 , .main > section:nth-child(2) p , .main > section:nth-child(2) .icon-close{
color:#999
}

.content article {
	padding: 20px 40px 20px 0px;
}

.content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.content article a {
	color: rgba(0,0,0,0.2);
}

.content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.panel-items,
div.panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.panel-items > div > div p {
	font-size: 1.3em;
}

div.panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.panel-items {
	top: 100%;
	z-index: 9999;
}

div.panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 400px;
	left: 50%;
	top: 0px;
	/*margin-left: -108px;*/
	margin: 0;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.panel-items.panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.panel-items nav span.next-work,
div.panel-items nav span.prev-work
 {
	font-weight: 700;
	letter-spacing: 2px;
	display: inline-block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.panel-items.panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.panel-items > div.show-work{
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.panel-items > div.hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.main > section.expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main > section.expand-top {
	z-index: 100;
}

.main > section:first-child.expand {
	background: #34495e;
}
.main > section:nth-child(2).expand {
	background: #ecf0f1;
}
.main > section:nth-child(3).expand {
	background: #4BBE8E;
}
.main > section:nth-child(4).expand {
	background: #0D8278;
}

.main.expand-item > section:not(.expand),
.main.expand-item > section.scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.expand .box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.box .intro-content {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.expand) .box:hover .intro-content {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.content,
.icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.expand .content,
section.expand .icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.content,
	.box {
		font-size: 75%;
	}

	.expand .box {
		height: 130px;
	}

	.content > ul li {
		width: 40%;
	}
}

div.panel-items .panel-info,
div.panel-items .info-keys
 {
	position: absolute;
    z-index: 9999 !important;
    width: 400px;
    left: 50%;
    top: -92%;
    color: #fff;
    opacity: 1;
    transform: none;
    background: transparent;
    height: auto;
    font-size: 1.3em;
    opacity: 0;
}

.expand-item div.panel-items .panel-info,
.expand-item div.panel-items .info-keys
 {
	opacity: 0;
}
.expand-item div.panel-items-show .panel-info,
.expand-item div.panel-items-show .info-keys
 {
	opacity: 1;
}

.content a {
    color: #555;
    text-transform: inherit;
}

.info-keys {
	position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    width: 60px !important;
    font-size: 11px !important;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.icon-info-keys:before {
	left: 10px;
	content: "\f060";
	font-family: fontawesome;
}

.icon-info-keys:after {
	right: 10px;
	content: "\f061";
	font-family: fontawesome;
}
@media screen and (max-width: 767px) {
    div.panel-items nav {
    	left:10%;
    }
}

@media screen and (max-width: 480px) {
	.main > section:nth-child(2) {
	    top: 50%;
	    left: 0;
	    background: #FFF;
	}
	.main > section {
	    position: absolute;
	    width: 100%;
	    height: 50%;
	}
	.intro-content {
	    top: 10%;
	}
	.intro-content h2 > span:first-child {
	    font-weight: 300;
     	font-size: inherit; 
	}
}
